<!DOCTYPE html>
<html>
<head>
  <title>Aug18</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
change for test git
<%= yield %>
<a href="/contacts" class="current"><span></span>Home</a>
            &nbsp; &nbsp;
            <a href="#"><span></span>Gallery</a>
            &nbsp; &nbsp;
            <a href="#"><span></span>Blog</a>
            &nbsp; &nbsp;
            <a href="#"><span></span>Forum</a> 
            &nbsp; &nbsp;           
            <a href="#"><span></span>About Us</a>
            &nbsp; &nbsp;
            <a href="/contacts/new"></span>Contact Us</a>

</body>
</html>
